CONFIG_BORNEO_PRODUCT_ID="bst/blc06mk1"
CONFIG_BORNEO_DEVICE_NAME_DEFAULT="Buce"
CONFIG_BORNEO_DEVICE_CATEGORY="lighting"
CONFIG_BORNEO_DEVICE_COMPATIBLE="bst,borneo-lyfi"
CONFIG_BORNEO_HW_VER="1.0.0"
CONFIG_LWIP_LOCAL_HOSTNAME="bst_buce"

