CONFIG_BORNEO_BOARD_ID="c5devkitc1"
CONFIG_BORNEO_BOARD_NAME="Espressif ESP32-C5-DevKitC-1"

CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=240

################ Flash ####################################
CONFIG_ESPTOOLPY_FLASHMODE="qio"
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHFREQ="80m"


#################### Core Stuff #########################
CONFIG_BORNEO_ADC_ENABLED=n

################################# Power Supply Measurement ###############################
CONFIG_BORNEO_MEAS_VOLTAGE_SUPPORT=n
CONFIG_LYFI_MEAS_CURRENT_SUPPORT=n

################## Provisioning #################################
CONFIG_BORNEO_PROV_METHOD_NP=y
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y


################## NTC #########################
CONFIG_LYFI_NTC_SUPPORT=n

################## Indicator #########################
CONFIG_BORNEO_INDICATOR_ENABLED=n


################## LED PWM ########################
CONFIG_LYFI_LED_CH0_ENABLED=y
CONFIG_LYFI_LED_CH0_NAME="CH0"
CONFIG_LYFI_LED_CH0_COLOR="#F44336"
CONFIG_LYFI_LED_CH0_GPIO=7

CONFIG_LYFI_LED_CH1_ENABLED=y
CONFIG_LYFI_LED_CH1_NAME="CH1"
CONFIG_LYFI_LED_CH1_COLOR="#4CAF50"
CONFIG_LYFI_LED_CH1_GPIO=8

CONFIG_LYFI_LED_CH2_ENABLED=y
CONFIG_LYFI_LED_CH2_NAME="CH2"
CONFIG_LYFI_LED_CH2_COLOR="#2196F3"
CONFIG_LYFI_LED_CH2_GPIO=9

CONFIG_LYFI_LED_CH3_ENABLED=y
CONFIG_LYFI_LED_CH3_NAME="CH3"
CONFIG_LYFI_LED_CH3_COLOR="#FFF9C4"
CONFIG_LYFI_LED_CH3_GPIO=10

CONFIG_LYFI_LED_CH4_ENABLED=y
CONFIG_LYFI_LED_CH4_NAME="CH4"
CONFIG_LYFI_LED_CH4_COLOR="#673AB7"
CONFIG_LYFI_LED_CH4_GPIO=26

CONFIG_LYFI_LED_CH5_ENABLED=y
CONFIG_LYFI_LED_CH5_NAME="CH5"
CONFIG_LYFI_LED_CH5_COLOR="#FFF0F0"
CONFIG_LYFI_LED_CH5_GPIO=25

###################### FAN ###########################
CONFIG_LYFI_FAN_CTRL_SUPPORT=y
CONFIG_LYFI_FAN_CTRL_PWM_SUPPORT=y
CONFIG_LYFI_FAN_CTRL_PWM_DEVICE_RMTPWM=y
CONFIG_LYFI_FAN_CTRL_PWM_GPIO=23
CONFIG_LYFI_FAN_CTRL_VREG_SUPPORT=n
CONFIG_LYFI_FAN_CTRL_SHUTDOWN_ENABLED=n


############################# THERMAL MANAGEMENT ##############################
CONFIG_LYFI_THERMAL_ENABLED=y
CONFIG_LYFI_THERMAL_FAN_MODE_MANUAL=y


############################### Button ###################################
CONFIG_LYFI_PRESS_BUTTON_ENABLED=y
CONFIG_LYFI_PRESS_BUTTON_GPIO=28

################################## PROTECTION ##################################
CONFIG_LYFI_PROTECTION_ENABLED=n
CONFIG_LYFI_PROTECTION_OVERHEATED_SUPPORT=n
CONFIG_LYFI_PROTECTION_OVERPOWER_SUPPORT=n

######################################### DEV-BOARD Related #######################################
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_UART=n
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
