menu "Borneo Core"
    menu "Board Information"

        config BORNEO_PRODUCT_ID
            string "Borneo Product ID"
            default "$BORNEO_PRODUCT_ID"

        config BORNEO_BOARD_ID
            string "Borneo board ID"
            default "$BORNEO_BOARD"

        config BORNEO_BOARD_NAME
            string "Borneo board name"

        config BORNEO_DEVICE_NAME_DEFAULT
            string "Borneo device's default name"

        config BORNEO_DEVICE_COMPATIBLE
            string "Borneo device compatible string"

        config BORNEO_DEVICE_CATEGORY
            string "Borneo Device Category"

        config BORNEO_HW_VER
            string "Borneo hardware version"

        config BORNEO_MANUF_DEFAULT
            string "Borneo manufacturer default value"
            default "BST"

        config BORNEO_EDITION_CE
            bool "Is open-source edition"
            default y

        choice
            prompt "Select product mode"

            config BORNEO_PRODUCT_MODE_STANDALONE
                bool "Standalone Controller"

            config BORNEO_PRODUCT_MODE_FULL
                bool "Proprietary Product"

            config BORNEO_PRODUCT_MODE_OEM
                bool "OEM / Custom"
        endchoice

    endmenu

    menu "Network Provisioning"
        choice
            prompt "Provisioning Method"
            default BORNEO_PROV_METHOD_SC

            config BORNEO_PROV_METHOD_SC
                bool "SmartConfig (ESPTouch)"

            config BORNEO_PROV_METHOD_NP
                bool "Espressif Network Provisioning"
                depends on SOC_BT_SUPPORTED
                select BT_ENABLED
                select BT_NIMBLE_ENABLED
        endchoice
    endmenu

    menu "ADC settings"
        config BORNEO_ADC_ENABLED
            bool "ADC enabled"
            default y

        config BORNEO_ADC_CH0_ENABLED
            bool "ADC1 Channel 0 enabled"
            default n
            depends on BORNEO_ADC_ENABLED

        config BORNEO_ADC_CH1_ENABLED
            bool "ADC1 Channel 1 enabled"
            default n
            depends on BORNEO_ADC_ENABLED

        config BORNEO_ADC_CH2_ENABLED
            bool "ADC1 Channel 2 enabled"
            default n
            depends on BORNEO_ADC_ENABLED

        config BORNEO_ADC_CH3_ENABLED
            bool "ADC1 Channel 3 enabled"
            default n
            depends on BORNEO_ADC_ENABLED

        config BORNEO_ADC_CH4_ENABLED
            bool "ADC1 Channel 4 enabled"
            default n
            depends on BORNEO_ADC_ENABLED

        config BORNEO_ADC_CH5_ENABLED
            bool "ADC1 Channel 5 enabled"
            default n
            depends on BORNEO_ADC_ENABLED

        config BORNEO_ADC_CH6_ENABLED
            bool "ADC1 Channel 6 enabled"
            default n
            depends on BORNEO_ADC_ENABLED

        config BORNEO_ADC_CH7_ENABLED
            bool "ADC1 Channel 7 enabled"
            default n
            depends on BORNEO_ADC_ENABLED
    endmenu


    menu "LED Indicator"
        config BORNEO_INDICATOR_ENABLED
            bool "Indicator enabled"
            default y

        choice
            prompt "Select indicator type"
            default BORNEO_INDICATOR_GPIO_ENABLED

            config BORNEO_INDICATOR_GPIO_ENABLED
                bool "Simple GPIO LED"
                depends on BORNEO_INDICATOR_ENABLED

            config BORNEO_INDICATOR_ADDRESSABLE_ENABLED
                bool "Addressable LED"
                depends on BORNEO_INDICATOR_ENABLED
        endchoice

        config BORNEO_INDICATOR_GPIO
            int "Indicator pin"
            depends on BORNEO_INDICATOR_ENABLED

        config BORNEO_INDICATOR_ADDRESSABLE_BRIGHTNESS
            hex "Indicator brightness (0x01-0xFF)"
            range 0x1 0xFF
            default 0x3C
            depends on BORNEO_INDICATOR_ADDRESSABLE_ENABLED
    endmenu

    menu "OTA"
        config BORNEO_OTA_FIRMWARE_UPGRADE_URL
            string "OTA firmware upgrade URL"
    endmenu

    menu "Power Supply Voltage Measurement"
        config BORNEO_MEAS_VOLTAGE_SUPPORT
            bool "Power supply voltage measurement enabled"
            default n

        config BORNEO_MEAS_VOLTAGE_ADC_CHANNEL
            int "Power supply voltage ADC channel"
            depends on BORNEO_MEAS_VOLTAGE_SUPPORT

        config BORNEO_MEAS_VOLTAGE_FACTOR
            int "Power supply ADC voltage attenuation coefficient in μV"
            depends on BORNEO_MEAS_VOLTAGE_SUPPORT
            default 15242
    endmenu


endmenu