menu "Borneo LyFi"

    menu "Pump channels"

        config PUMP_CH0_ENABLED
            bool "Pump channel 0 enabled"
            default n

        config PUMP_CH1_ENABLED
            bool "Pump channel 1 enabled"
            default n

        config PUMP_CH2_ENABLED
            bool "Pump channel 2 enabled"
            default n

        config PUMP_CH3_ENABLED
            bool "Pump channel 3 enabled"
            default n

        config PUMP_CH4_ENABLED
            bool "Pump channel 4 enabled"
            default n

        config PUMP_CH5_ENABLED
            bool "Pump channel 5 enabled"
            default n

        config PUMP_CHANNEL_COUNT
            int
            default 6 if PUMP_CH5_ENABLED
            default 5 if PUMP_CH4_ENABLED
            default 4 if PUMP_CH3_ENABLED
            default 3 if PUMP_CH2_ENABLED
            default 2 if PUMP_CH1_ENABLED
            default 1 if PUMP_CH0_ENABLED
            default 0
            depends on PUMP_CH0_ENABLED || PUMP_CH1_ENABLED || PUMP_ENABLED || PUMP_CH3_ENABLED || PUMP_CH4_ENABLED || PUMP_CH5_ENABLED

        config PUMP_CH0_GPIO
            int "GPIO for pump channel 0"
            depends on PUMP_CH0_ENABLED

        config PUMP_CH1_GPIO
            int "GPIO for pump channel 1"
            depends on PUMP_CH1_ENABLED

        config PUMP_CH2_GPIO
            int "GPIO for pump channel 2"
            depends on PUMP_CH2_ENABLED

        config PUMP_CH3_GPIO
            int "GPIO for pump channel 3"
            depends on PUMP_CH3_ENABLED

        config PUMP_CH4_GPIO
            int "GPIO for pump channel 4"
            depends on PUMP_CH4_ENABLED

        config PUMP_CH5_GPIO
            int "GPIO for pump channel 5"
            depends on PUMP_CH5_ENABLED

    endmenu

        config DOSER_MASTER_BUTTON_ENABLED
            bool "The master button of doser enabled"
            default y

        config DOSER_MASTER_BUTTON_GPIO
            int "The GPIO number of the master button"
            depends on DOSER_MASTER_BUTTON_ENABLED

endmenu