CONFIG_BORNEO_PRODUCT_ID="bst/ulva6"
CONFIG_LYFI_STANDALONE_CONTROLLER=n
CONFIG_BORNEO_DEVICE_NAME_DEFAULT="Ulva 6"
CONFIG_BORNEO_DEVICE_CATEGORY="lighting"
CONFIG_BORNEO_DEVICE_COMPATIBLE="bst,borneo-lyfi"
CONFIG_BORNEO_HW_VER="1.0.0"
CONFIG_LWIP_LOCAL_HOSTNAME="bst_ulva6"

################## LED PWM ########################
CONFIG_LYFI_LED_NOMINAL_POWER=65
#################### Override the GPIOs:
CONFIG_LYFI_LED_CH0_ENABLED=y
CONFIG_LYFI_LED_CH0_NAME="CW"
CONFIG_LYFI_LED_CH0_COLOR="#78909C"
CONFIG_LYFI_LED_CH0_GPIO=4
CONFIG_LYFI_LED_CH0_BRIGHTNESS_PERCENT=40
CONFIG_LYFI_LED_CH0_POWER=15000

CONFIG_LYFI_LED_CH1_ENABLED=y
CONFIG_LYFI_LED_CH1_NAME="RB"
CONFIG_LYFI_LED_CH1_COLOR="#6666cc"
CONFIG_LYFI_LED_CH1_GPIO=10
CONFIG_LYFI_LED_CH1_BRIGHTNESS_PERCENT=10
CONFIG_LYFI_LED_CH1_POWER=15000

CONFIG_LYFI_LED_CH2_ENABLED=y
CONFIG_LYFI_LED_CH2_NAME="B"
CONFIG_LYFI_LED_CH2_COLOR="#29B6F6"
CONFIG_LYFI_LED_CH2_GPIO=3
CONFIG_LYFI_LED_CH2_BRIGHTNESS_PERCENT=10
CONFIG_LYFI_LED_CH2_POWER=15000

CONFIG_LYFI_LED_CH3_ENABLED=y
CONFIG_LYFI_LED_CH3_NAME="R"
CONFIG_LYFI_LED_CH3_COLOR="#EF5350"
CONFIG_LYFI_LED_CH3_GPIO=18
CONFIG_LYFI_LED_CH3_BRIGHTNESS_PERCENT=15
CONFIG_LYFI_LED_CH3_POWER=5000

CONFIG_LYFI_LED_CH4_ENABLED=y
CONFIG_LYFI_LED_CH4_NAME="G"
CONFIG_LYFI_LED_CH4_COLOR="#66BB6A"
CONFIG_LYFI_LED_CH4_GPIO=5
CONFIG_LYFI_LED_CH4_BRIGHTNESS_PERCENT=20
CONFIG_LYFI_LED_CH4_POWER=5000

CONFIG_LYFI_LED_CH5_ENABLED=y
CONFIG_LYFI_LED_CH5_NAME="VUV"
CONFIG_LYFI_LED_CH5_COLOR="#7E57C2"
CONFIG_LYFI_LED_CH5_GPIO=19
CONFIG_LYFI_LED_CH5_BRIGHTNESS_PERCENT=5
CONFIG_LYFI_LED_CH5_POWER=10000