CONFIG_BORNEO_PRODUCT_ID="bst/blc05emk1"
CONFIG_LYFI_STANDALONE_CONTROLLER=y
CONFIG_BORNEO_DEVICE_NAME_DEFAULT="BST BLC05EMK1"
CONFIG_BORNEO_DEVICE_CATEGORY="lighting"
CONFIG_BORNEO_DEVICE_COMPATIBLE="bst,borneo-lyfi"
CONFIG_BORNEO_HW_VER="1.0.0"
CONFIG_LWIP_LOCAL_HOSTNAME="bst_blc05"

