CONFIG_BORNEO_PRODUCT_ID="bst/xiaoc3"
CONFIG_BORNEO_PRODUCT_MODE_STANDALONE=y
CONFIG_BORNEO_DEVICE_NAME_DEFAULT="Buce-XIAOC3"
CONFIG_BORNEO_MANUF_DEFAULT="Seeed Studio"
CONFIG_BORNEO_DEVICE_CATEGORY="lighting"
CONFIG_BORNEO_DEVICE_COMPATIBLE="bst,borneo-lyfi"
CONFIG_BORNEO_HW_VER="1.0.0"
CONFIG_LWIP_LOCAL_HOSTNAME="bst_buce"