CONFIG_BORNEO_PRODUCT_ID="bst/c5devkitc1"
CONFIG_BORNEO_PRODUCT_MODE_STANDALONE=y
CONFIG_BORNEO_DEVICE_NAME_DEFAULT="Buce-C5DEVKITC1"
CONFIG_BORNEO_MANUF_DEFAULT="Espressif"
CONFIG_BORNEO_DEVICE_CATEGORY="lighting"
CONFIG_BORNEO_DEVICE_COMPATIBLE="bst,borneo-lyfi"
CONFIG_BORNEO_HW_VER="1.0.0"
CONFIG_LWIP_LOCAL_HOSTNAME="bst_buce"